.title {
    text-align: center;
    margin-top: 90px;
    font-size: 150px;
    color: burlywood;
}

input {
    width: 50%;
}

.search-bar {
    text-align: center;
}

.logo {
    text-align: center;
}

.yoda {
    max-width: 200px;
    max-height: 200px;
    margin-top: 100px;
}