.custom-bg {
    background: #FFE8E8;
}

table, th, td{
                margin-top: 55px;
                width: 55%;
				border: 5px solid black;
				border-radius: 10px;
				padding: 15px;
}

img.a{
    margin-left: 50px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.boxedA{
    border-radius: 25px;
    border: 5px solid black;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 60px;
}

.boxedB{

    border: 3px solid black;
    margin-left: 50px;
    margin-right: 1054px;
}

.containerRes  > *{
    display: inline-block;
}

.large-compact {
    width: 350px;
    height: 150px;
}