<!DOCTYPE html>
<html>

	{% load static %}
		<title>Jingle Home</title>
	
		<link rel="stylesheet" type="text/css" href="{% static 'jingle/navBar.css' %}">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="">Top 50</a></li>
			<li><a href="">About</a></li>
		</ul>
		
	<link rel="stylesheet" type="text/css" href="{% static 'jingle/homePage.css' %}">
	
	<div></div>

	<form method="post">
		{% csrf_token %}
		{{ form }}
		<input type="text" name="song" placeholder="Enter a Song Name...">
	</form>
	
</html>