<!DOCTYPE html>


<html>
	
	<head>
		<title>Jingle</title>
	</head>
	
	<body>
		
		
		<center>
		<div>
			{% if song.song_cover_url != "" %}
			<img src="{{ song.song_cover_url }}" height="480" width="480">
			{% endif %}
			
			{% if song.artist_name != "" %}
			<h1>Artist: {{ song.artist_name }}</h1>
			{% endif %}
			{% if song.song_name != "" %}
			<h1>Song: {{ song.song_name }}</h1>
			{% endif %}
			</div>
			{% if song.album_name != "" %}
			<h1>Album Name: {{ song.album_name }}</h1>
			{% endif %}
			{% if song.song_duration != "" %}
			<h1>Song Length: {{ song.song_duration }}</h1>
			{% endif %}
			{% if song.artist_additional_names != "" %}
			<h1>Features: {{ song.artist_additional_names }}</h1>
			{% endif %}
			{% if song.release_date != "" %}
			<h1>Release Date: {{ song.release_date }}</h1>
			{% endif %}
			{% if song.genres != "" %}
			<h1>Genres: {{ song.genres }}</h1>
			{% endif %}
			{% if song.spotify_song_link != "" %}
			<a href="{{ song.spotify_song_link }}">{{ song.spotify_song_link }}</a>
			{% endif %}
			{% if song.lyrics != "" %}
			<p>Lyrics: {{ song.lyrics }}</p>
			{% endif %}
			{% if song.genius_page_views != "" %}
			<h1>Genius Page Views: {{ song.genius_page_views }}</h1>
			{% endif %}
			{% if song.genius_song_link != "" %}
			<a href="{{ song.genius_song_link }}">{{ song.genius_song_link }}</a>
			{% endif %}
			{% if song.errors != "" %}
			<h1>Error: {{ song.errors }}</h1>
			{% endif %}
			
			
		<hr/>
		
		<div>

		</div>
		</center>
		
		
		
	</body>
	
</html>
