<!DOCTYPE html>


<html>
	
	<head>
		<title>jingle</title>
	</head>
	
	<body>
		
		
		<center>
		<div>
			<img src="{{ song.song_cover_url }}" height="480" width="480">
			
			
			<h1>Artist: {{ song.artist_name }}</h1>
			<h1>Song: {{ song.song_name }}</h1>
			</div>
			<h1>Album Name: {{ song.album_name }}</h1>
			<h1>Song Length: {{ song.song_duration }}</h1>
			<h1>Features: {{ song.artist_additional_names }}</h1>
			<h1>Release Date: {{ song.release_date }}</h1>
			<h1>Genres: {{ song.genres }}</h1>
			<a href="{{ song.spotify_song_link }}">{{ song.spotify_song_link }}</a>
			
		<hr/>
		
		<div>

		</div>
		</center>
		
		
		
	</body>
	
</html>
